<section>
    <h1>Contact </h1>

    <form action="">
        <div class="field">
            <label for="">Nombre</label>
            <input type="text">
        </div>

        <div class="field">
            <label for="">Email</label>
            <input type="text">
        </div>

        <div class="field">
            <label for="">Mensaje</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </form>
</section>