<section>
    <h1>Helpers</h1>
    <p>Son funciones que se pasan como parametro al metodo render y se pueden utilizar dentro de handlebars</p>

    {{saludar nombre "Perez"}} saludar("Carlos")


    {{> aside}}
</section>